<% provide(:title, "Quiz App | Add Quizzes") %>
<div class="row">
	<ul class="nav nav-pills nav-stacked" id="subject">
  		<li class="active"><a>Add Quizzes</a></li>
  	</ul>	
</div>
<br/>
<form class="form-default" action="/admin/quizzesadd" method="post">
	<div style="margin:0;padding:0;display:inline">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden" value="VJtyiUmLJXC3eF/Yk+BnX3ktej3syRXJK7lbrVu/Fmk=" /></div>
	<div id="notice" class="text-danger"><b><%= notice %></b></div>
	<br/>
	<div class="form-group">
	    <label for="quiz_content">Quiz content:</label>
	    <textarea class="form-control" id="quiz_content" name="quiz[quiz_content]" type="text" ></textarea>
	</div>
	<div class="form-group">
		<label for="quiz_content">Choice:</label>
		<table class="table table-striped">
			<tr>
				<td>A.</td>
				<td><input class="form-control" id="choice_a" name="choice[choice_a]" type="text" /></td>
			</tr>
			<tr>
				<td>B.</td>
				<td><input class="form-control" id="choice_b" name="choice[choice_b]" type="text" /></td>
			</tr>
			<tr>
				<td>C.</td>
				<td><input class="form-control" id="choice_c" name="choice[choice_c]" type="text" /></td>
			</tr>
			<tr>
				<td>D.</td>
				<td><input class="form-control" id="choice_d" name="choice[choice_d]" type="text" /></td>
			</tr>
		</table>

	</div>
	<div class="form-group">
    	<label for="user_fullname">Is correct:</label><br/>
    	A.<input  id="is_correct" name="quiz[is_correct]" type="radio" value="A" />
    	B.<input  id="is_correct" name="quiz[is_correct]" type="radio" value="B" />
    	C.<input  id="is_correct" name="quiz[is_correct]" type="radio" value="C" />
    	D.<input  id="is_correct" name="quiz[is_correct]" type="radio" value="D" />
  	</div>
  	<div class="form-group">
	    <label for="quiz_content">Slug:</label>
	    <input class="form-control" id="quiz_content" name="quiz[quiz_slug]" type="text" />
	</div>
	<div class="form-group">
	    <label for="quiz_content">Subject:</label>
	    <select name="cate[category]" class="form-control">
	    	<%
	    		@cate= Categories.all
	    		@cate.each do |cc|
	    	%>
	    		<option value="<%= cc.cate_id %>"><%= cc.name%></option>
	    	<% end %>
	    </select>
	</div>
	<div class="form-group">
		<input class="btn btn-success" name="commit" type="submit" value="Add quizzes" />
	</div>
</form>