/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.logo{
	font-size: 22px;
}
#navLeft ul{
	 display: none;
	 position: absolute;
	 background: #EEE8AA;
	 width: 120%;
   z-index: 999999;
}
#navLeft li:hover ul{
	display: block;
}
#navLeft ul li{
	
}
#navLeft ul li a{
	
}
#subject li:first-child{
	border: 0;
}
#subject li {
	border: 1px solid #79CDCD;
}

/* pright */
#pright{
  border: 1px solid #79CDCD; 
  height: 700px;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}