
  <br></br>
	<div class="center hero-unit">
  		<h1><center>Welcome to my website</center></h1>
      <br> </br>
  	<center><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </center>
	</div>