<div class="row">
<div class="col-lg-6">
<% provide(:title, "Quiz App | Profile") %>
<h1>Profile</h1>
<table class="table table-striped">
	<tr>
		<td>Username:</td>
		<td><%= @user.username %></td>
	</tr>
	<tr>
		<td>Fullname:</td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%= @user.fullname %></td>
	</tr>
	<tr>
		<td>Password: </td>
		<td><%= @user.password_hash %></td>
	</tr>
</table>

</div>
</div>
